.mainWrapper {
  width: 600px;
  height: 800px;
  border: 1px solid rgb(75, 74, 74);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.messageList {
  width: 100%;
  height: 90%;
}

.inputWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(75, 74, 74);
}
div {
  margin: 0 auto;
  /* padding-top: 10px; */

  /* display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* width: 500px; */
}
